.checkbox_style_1 {
margin-bottom: 2em;
    background: aliceblue;;
    margin-right:68%;

}

.checkbox_style_2 {
    background: aliceblue;;
    margin-right:68%;
}

h3{
    font-family: "Literata" ;
    text-decoration:underline
}