.information_position {
    position: absolute;
    left: 22em;
}

.spinner_position {
    position: absolute;
    left: 0.2em;
    zoom: 1.4;
}


@media screen and (max-width: 599px) {
    .information_position {
        position: absolute;
        left: 90%;
    }
}

@media screen and (max-width: 200px) {
    .information_position {
        position: absolute;
        left: 85%;
    }
}

@media screen and (max-width: 72px) {
    .information_position {
        position: absolute;
        left: 87%;
    }
}

.city_data_position {
    margin-top: 2em
}

.forecast_data_position {
    margin-top: 2em
}

.time_position {
    margin-right: 4em;
    margin-bottom: 0.6em;

}

.table_size_current {
    table-layout: fixed;
    text-align: center;
    width: 100%;
    background: aliceblue;
}
